<body>
    <div id="map" class="map"></div>
    <form class="form">
      <div class="">
        <select id="type" class="form-select  "[(ngModel)]="options"  [ngModelOptions]="{standalone: true}" #selectBox (change)="addFeature(selectBox.value)" >
          <option value="">-- Seçiniz --</option>
          <option value="Point">Point</option>
          <option value="LineString">LineString</option>
          <option value="Polygon">Polygon</option>
          <option value="Circle">Circle</option>
          <!-- <option value="Circle">{{options}}</option> -->
        </select>
      </div>
    </form>
    <script type="module" src="main.js"></script>
  </body>
  <!-- <button id="typeButton" class="btn btn-light" (click)="getGeometryListModal()">Bütün Kayıtları Getir</button> -->
  <button id="typeButton" class="btn btn-danger" mat-button (click)="openDilaog()" style="background-color: #fff; color: black;">Tüm Kayıtlar</button>
